/* *** common *** */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
}

.right {
    float: right;
}

.mb {
    margin-bottom: 15px;
}

/* *** header *** */

header {
    width: 100%;
    position: fixed;
    z-index: 9999;
    
}

/* *** nav *** */

nav {
    width: 100%;
    height: 60px;
    padding: 0px 25px;
    line-height: 60px;
    background-color: white;   
}

nav img {
    width: 110px;
    transform: translateY(90%);
    margin-right: 30px;
}
nav .left li {
    display: inline-block;
    margin-right: 30px;
}

nav .right li {
    display: inline-block;
    margin-left: 30px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.inizia {
    display: inline;
    background-color: rgb(60, 134, 255);
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 5px 15px;
}

/* *** jumbo *** */

.jumbo {
    width: 100%;
    height: 640px;
    background-color: rgb(180, 208, 231);
}

.jumbo-box {
    width: 80%;
    margin: auto;
}

.jumbo h1 {
    font-size: 65px;
    padding-top: 120px;
    padding-bottom: 40px;
}

.jumbo img {
    width: 100%;
}

.jumbo .col-sn {
    width: 35%;
    margin-right: 5%;
}

.jumbo .col-dx {
    width: 60%;
}

.jumbo p {
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
    
}

.jumbo a {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(60, 134, 255);
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.jumbo span {
    display: block;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.jumbo .download {
    padding-top: 25px;
    font-size: 30px;
}

/* *** / header *** */

/* *** main *** */

/* *** inizio sezione piano-dropbox-top *** */

.piano-dropbox {
    width: 60%;
    margin: auto;
    font-weight: bold;
    font-size: 13px;
}

.piano-dropbox h2 {
    padding-top: 150px;
    padding-bottom: 45px;
    font-size: 30px;
}

.input-fatturazione {
    display: block;
    margin-bottom: 25px;
}

.piano-dropbox .col-sn {
    width: 30%;
    border: 1px solid lightgrey;
    font-size: 11px;
}

.piano-dropbox .col-centrale {
    width: 30%;
    margin: 0px 40px;
    border: 1px solid lightgrey;
    font-size: 11px;
    
}

.piano-dropbox .col-dx {
    width: 30%;
    border: 1px solid lightgrey;
    font-size: 11px;
}

.piano-content {
    width: 90%;
    margin: auto;
}

.utenza {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.piano-dropbox h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.durata {
    color: lightgrey;
    margin-top: 5px;
    margin-bottom: 30px;
}

.funzioni {
    margin-bottom: 30px;
}

.piano-dropbox .prova-gratuita a{
    display: block;
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: rgb(60, 134, 255);
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: white;
}

.acquista-ora {
    color: rgb(118, 170, 255);
}

.linea-divisiva {
    width: 20%;
    margin-top: 15px;
    margin-bottom: 30px;
    border-top: 1px solid lightgrey;
}

.piano-dropbox h4 {
    font-size: 13px;
}

.piano-dropbox .assistenza {
    margin-bottom: 120px;
}

.piano-dropbox .col-sn .assistenza {
    margin-bottom: 150px;
}

/* *** / sezione piano-dropbox-top *** */

/* *** inizio sezione piano-dropbox-bottom *** */

.piano-bottom {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 80px;
    font-weight: bold;
    font-size: 13px;
}

.piano-bottom .col-bottom {
    width: 100%;
    height: 190px;
    border: 1px solid lightgrey;
    
}

.piano-bottom h3 {
    margin-top: 30px;
    font-size: 20px;
}

.piano-bottom h4 {
    margin-bottom: 30px;
    font-size: 13px;
}

.piano-bottom-sn {
    width: 75%;
    font-size: 10px;
}

.contatta {
    display: block;
    padding: 5px 20px;
    margin-top: 30px;
    background-color: rgb(60, 134, 255);
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: white;
}

/* *** / sezione piano-dropbox-bottom *** */

/* *** inizio sezione partner *** */

.partner {
    width: 60%;
    margin: auto;
    font-size: 13px;
    font-weight: bold;
}

.partner .col-sn {
    width: 55%;  
}

.partner .col-sn img {
    width: 100%;
}

.partner .col-dx {
    width: 40%;

}

.partner .col-dx h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}

.trova-partner {
    padding: 5px 20px;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: black;
}

/* *** / sezione partner *** */


/* *** inizio sezione operazioni *** */

.operazioni {
    width: 60%;
    padding-top: 80px;
    margin: auto;
    font-size: 13px;
    font-weight: bold;
}

.operazioni h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.operazioni-top {
    width: 100%;
}

.operazioni .col-sn {
    width: 30%;
}

.operazioni .col-centrale {
    width: 30%;
    margin: 0px 40px;
}

.operazioni .col-dx {
    width: 30%;
}

.operazioni-bottom {
    width: 100%;
}

.operazioni img {
    width: 100%;
    object-fit: contain;
}

.operazioni h3 {
    font-size: 20px;
}

.operazioni span {
    text-decoration: underline;
}

.operazioni-top p {
    padding-bottom: 80px;
}

/* *** / sezione operazioni *** */

/* *** inizio sezione clienti *** */

.clienti {
    width: 100%;
    margin-top: 180px;
    font-size: 13px;
    font-weight: bold;
}

.clienti-top {
    width: 30%;
    margin-left: 265px;
    margin-bottom: 30px;
}

.clienti-centrale {
    width: 100%;
    height: 400px;
}

.clienti-bottom {
    width: 100%;
    background-color: rgb(180, 208, 231);
}

/* *** inizio sezione clienti top *** */

.clienti h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.clienti-top a {
    color: rgb(118, 170, 255);
}

/* *** / sezione clienti top *** */

/* *** inizio sezione clienti centrale *** */

.clienti-centrale .col-sn {
    width: 30%;
}

.clienti-centrale .col-centrale {
    width: 40%;
    padding-bottom: 111px;
    background-color: rgb(245, 245, 245);
}

.clienti-centrale .col-dx {
    width: 30%;
}

.clienti-centrale .img {
    position: relative;
    width: 50%;
    height: 200px;
}

.clienti-centrale .col-sn img, .clienti-centrale .col-dx img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 58%;
    object-fit: contain;
    z-index: 8888;
}

.clienti-centrale .img-1 {
    background-color: rgb(162, 211, 155);
    border: 10px solid rgb(188, 224, 184);
}

.clienti-centrale .img-2 {
    background-color: rgb(97, 8, 43);
}

.clienti-centrale .img-3 {
    background-color: rgb(0, 147, 206);
}

.clienti-centrale .img-4 {
    background-color: rgb(255, 28, 28);
}

.clienti-centrale .img-5 {
    background-color: rgb(213, 0, 31);
}

.clienti-centrale .img-6 {
    background-color: rgb(180, 208, 231);
}

.clienti-centrale .img-7 {
    background-color: rgb(13, 36, 129);
}

.clienti-centrale .img-8 {
    background-color: rgb(255, 216, 48);
}

.clienti-centrale .col-centrale .content {
    width: 85%;
    margin: auto;
}

.clienti-centrale .col-centrale .content img {
    width: 25%;
    object-fit: contain;
    margin-top: 35px;
    z-index: 8888;
}

.clienti-centrale .col-centrale .linea-divisiva {
    width: 10%;
    margin-top: 25px;
    margin-bottom: 50px;
    border-top: 1px solid lightgrey;
}

.clienti-centrale .col-centrale p {
    margin-bottom: 30px;
}

/* *** / sezione clienti centrale *** */

/* *** inizio sezione clienti bottom *** */

.clienti-bottom .content {
    width: 60%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 200px;
}

.clienti-bottom .content h2 {
    font-size: 30px;
    color: rgb(97, 8, 43);
}

.clienti-bottom .content a {
    display: block;
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: black;
}

.clienti-bottom .content .col-sn {
    width: 50%;
}

.clienti-bottom .content .col-dx {
    width: 30%;
}



/* *** / sezione clienti bottom *** */

/* *** / sezione clienti *** */

/* *** inizio sezione faq *** */

.faq {
    width: 60%;
    margin: auto;
    margin-top: 130px;
    font-size: 13px;
    font-weight: bold;
}

.faq h3 {
    margin-bottom: 30px;
    font-size: 20px;
}

.faq li {
    list-style-type: none;
}

.faq li:nth-child(1), .faq li:nth-child(4) {
    line-height: 60px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.faq li:nth-child(2) {
    line-height: 60px;
    border-bottom: 1px solid lightgrey;
}

.faq li:nth-child(3) {
    line-height: 60px;
}

.faq .faq-content p {
    display: inline;
    margin-right: 260px;
}

/* .faq .faq-content .col-sn {
    width: 70%;
}

.faq .faq-content .col-dx {
    width: 20%;
} */

/* *** / sezione faq *** */

/* *** footer *** */

/* *** debug *** */

.debug main {
    width: 100%;
    height: 5000px;
    background-color: ;
}



